
/***********************************************************************************************/
/*  Responsive/adaptive stuff */
/***********************************************************************************************/

/** 980* 1280 **/
@media only screen and (min-width: 960px) and (max-width: 980px){

.slicknav_menu {
  display: none;
}
.ul-mainmenu li a {
  padding: 10px 15px;
}
.header img {
  padding-left: 13px;
  padding-top: 75px;
  width: 90%;
}
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and(max-width:959px){
.slicknav_menu {
  display: none;
}
}

/* Tablet Portrait size to standard 960 (devices and browsers)  800*1280 , 768*1024 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.slicknav_menu {
  display: none;
}	
.ul-mainmenu li a {
  padding: 10px 15px;
}
.header img {
  padding-left: 13px;
  padding-top: 75px;
  width: 90%;
}

}
/* All Mobile Sizes (devices and browser) 360*640 */
@media only screen and (max-width: 767px) {
	
.slicknav_menu {
  display: block;
}
.mainmenu {
  display: none;
}
.header .input-group {
  margin-top: 30px;
}

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.slicknav_menu {
  display: block;
}	
.mainmenu {
  display: none;
}
.header .input-group {
  margin-top: 30px;
}
.header img {
  padding-left: 24px;
  padding-top: 48px;
  width: 85%;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 320*480  */
@media only screen and (max-width: 479px) {
.slicknav_menu {
  display: block;
}
.mainmenu {
  display: none;
}
.header .input-group {
  margin-top: 30px;
}
.header img {
  padding-left: 24px;
  padding-top: 48px;
  width: 85%;
}

}
